
   <!-- <h3 style="text-align: center;margin-top: 100px;">Dashboard</h3> -->
<div style="margin-left: 600px;margin-top: 90px">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="loginData.Mail" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="loginData.Password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="error">{{ successMessage  }}</div>
  </div>
  