body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #f0f0f0; /* Light gray background */
}

.container {
    margin-top: 60px;
    text-align: center;
}

.login-btn, .register-btn {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.login-btn:hover, .register-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}
